
/*
Colors:

blue -> #2a6a7c
light grey back -> e1e2e9
yellow -> E7D511
*/

* {
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

}

body{
  width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

section{
  margin: 10px auto;
  padding: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.hide {
  display: none!important;
}

input[type="text"] {
  height: 26px;
  margin:10px 0;
}
textarea {
  width: 100%;
  min-width: 100%;
  height: 50px;
}

.btn {
  padding: 7px 20px;
  background-color:#06845f;
  color: #fff;
  width:265px;
  display: inline-block;
  cursor: pointer;
  margin:10px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn:hover {
  background-color:#056649;
}

.page {
  display: none;
}

.page.current {
  display: block;
}

/*  PAUZEER   */
.gray-overlay {
  position: absolute;
  bottom: 27px;
  top: -10px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}



/* 
    HEADER 
*/


.header {
  width: 100%;
  height: 42px;
  padding: 10px 0 0;
  padding-bottom: 0;
}
.header .logo {
  width: 28px;
  display: inline-block;
  vertical-align: top;
}
.header .back-icon {
  width: 25px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 20px;
  top: 11px;
}
.header h1, .header h2, .header p {
  font-size: 18px;
  color: #2a6a7c;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  margin-top: 4px;
}
.header h2 {
  font-size: 16px;
}
.header p{
  position:relative;
  left: 60px;
}
.icon-wrapper {
  background: #2a6a7c;
  width: 35%;
  display: inline-block;
  height: 70px;
  margin: 0;
  float: left;
}
.text-wrapper {
  background: #e1e2e9;
  width: 65%;
  display: inline-block;
  text-align: left;
  height: 70px;
  color: #2a6a7c;
  padding: 26px 15px;
  font-size: 14px;
}
.title:after {
  display: inline-block;
  float: right;
  content: '>';
  font-size: 15px;
}


/*
    EU block
*/


.eu .icon-wrapper, .eu .text-wrapper {
  display: table;
}
.eu .text-wrapper {
  padding: 0 20px 0 15px;
  position: relative;
}
.eu .icon-wrapper span,
.eu .text-wrapper span {
  display: table-cell;
  vertical-align: middle;
}
#outside-eu .icon-wrapper span {
  padding-bottom: 4px;
}
.eu .icon-wrapper span label {
  font-size: 12px;
  line-height: 10px;
  margin: 0;
}
.eu .icon-wrapper {
  line-height: 17px;
  position: relative;
  font-size: 20px;
}
.eu .icon-wrapper img {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 5px;
  width: 60px;
}
.eu .title:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}


/*
    Reviews block
*/

.beoordeling .icon-wrapper {
  position: relative;
}
.number {
  font-size: 16px;
  color: #fff;
  display: block;
  padding-top: 14px;
  height: 23px;
}
.stars{
  bottom: 15px;
  width: 84px;
  left: 11px;
  z-index: 3;
  position: absolute;
}
.stars-back {
  height: 15px;
  left: 11px;
  width: 0;
  position: absolute;
  bottom: 15px;
  background: #fff;
  z-index: 1;
}


/*
    Bereken block
*/

.berekentool .icon-wrapper {
  position: relative;
}
.berekentool .icon-wrapper img {
  margin-top: 18px;
}
.calculator-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 0!important;
}



/*
    Footer
*/


.footer {
  background: #e1e2e9;
  color: #2a6a7c;
}
.footer:before, .footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer > div {
  margin: 2px 0;
  padding: 0 6px;
  width: 50%;
  float: left;
}
.footer > div:first-child {
  border-right: 1px solid #fff;
}
.footer img {
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 5px;
  width: 17px;
}
.switch img {
  width: 13px;
}
.switch, .settings {
  cursor: pointer;
}
.footer span {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  font-size: 13px;
}


/*
    Footer
*/

.page-inner {
  padding: 10px;
  background: #e5e5e5;
  color: #2a6a7c;
  font-size: 13px;
  text-align: left;
}

.page-inner label {
  margin-bottom: 2px;
  margin-top: 20px;
}
#give-review {
  width: 100%;
}
#give-review label {
  width: 100%;
  display: block;
  text-align: left;
}
#give-review input {
  width: 100%;
  display: block;
  margin-bottom: 6px;
}

#give-review input[type="submit"] {
  width: 280px;
}

#review-succes .page-inner {
  text-align: center;
}
#show-review .title-wrapper{
  width: 100%;
  height: 28px;
  background: #2a6a7c;
  color: #fff;
  padding: 5px 15px;
  text-align: left;
  font-size: 15px;
}
#show-review .review{
  margin-bottom: 10px;
}
#show-review .review_content{
  background: #e1e2e9;
  padding: 8px 15px;
  text-align: left;

}
#show-review .bottom_bar{
  height: 24px;
  padding: 4px 15px;
  color: #000;
  background: #ccc;
  text-align: left;
}
#show-review .bottom_bar .date{
  display:inline-block;
  float: right;
}

/*
    Rating
*/

#vote {
  unicode-bidi: bidi-override;
  direction: rtl;
}
#vote span{
  color: gray;
  font-size: 25px;
  cursor: pointer;
  letter-spacing: 0;
  margin-left: -2px;
  margin-right: -2px;
}
#vote > span:hover,
#vote > span:hover ~ span,
#vote > span.active,
#vote > span.active ~ span {
  color: #E7D511;
}




/* 
    Berekentool-page
*/

.berekentool-content{
  background-color:#e5e5e5;
  padding:0px 0px;
}
.berekentool-item{
  color:#2a6a7c;
  cursor:pointer;
}
.berekentool-content .close .berekentool-detail{
  /*display:none !important;*/
}
.berekentool-content .close{
  background-color:#d1d1d1;
}
.berekentool-product{
  text-align:left;
  display:inline-block;
  width:180px;
}
.berekentool-product:after{
  content: '';
  position: relative;
  top: -2px;
  left: 5px;
}
.stap1{
  padding-bottom:20px
}
.berekentool-price{
  display:inline-block;
  text-align:right;
  width:80px;
}
.berekentool-price::after {
  content: '^';
  position: relative;
  top: -1px;
  font-size: 10px;
  left: 5px;
}
.dropdown{
  width:265px;
  display:block;
  margin-left:18px;
}
.berekentool-category {
  text-align: left;
  margin: -19px 18px 10px;
}
#berekentool-page .btn
{
  margin:10px;
  width:265px;
  background-color:#06845f;
}
#berekentool-page .btn:hover{
  background-color:#056649;
}
.berekentool-detail{
  margin-top:3px;
  padding:5px 0;
}
.berekentool-detail p{
  font-size:11px;
  margin:3px 0;
}
.berekentool-detail .left{
  display:inline-block;
  text-align:left;
  width:175px;
}
.berekentool-detail .right{
  display:inline-block;
  text-align:right;
  width:60px;
}



.info-bottom {
  width: 265px;
  margin: 12px auto;
  font-size: 0;
}
.info-bottom div {
  padding: 8px 0;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
}
.info-bottom div img {
  margin: 0 auto;
}
.info-bottom .www {
  width: 33%;
  font-size: 15px;
  padding: 11px 0;
  background: #06845f;
}
.info-bottom .facebook {
  width: 33%;
  background: #3b5998;
}
.info-bottom .twitter {
  width: 33%;
  background: #5ea9dd;
  padding: 9px 0 8px;
}

.title-wrapper {
  position: relative;
}
.title-wrapper #stars {
  float: right;
  position: relative;
  z-index: 100;
  color: #2a6a7c;
  font-size: 12px;
  line-height: 22px;
}
.title-wrapper:before {
  content: '\2605';
  position: absolute;
  right: 6px;
  top: 0;
  color: #E7D511;
  font-size: 25px;
}






